name: Deploy Next.js
on:
  workflow_call:
    inputs:
      process-name:
        required: true
        type: string
      port:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Prepare Artifact
        run: |
          [ -d public ] && cp -r public .next/standalone/
          [ -d .next/static ] && cp -r .next/static .next/standalone/.next/

      - name: Compress Artifact
        run: tar -czf artifact.tar.gz -C .next/standalone .

      - uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: artifact.tar.gz

  deploy:
    runs-on: self-hosted
    needs: build

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact

      - name: Recreate app Directory
        run: rm -rf app && mkdir app

      - name: Decompress Artifact
        run: tar -xzf artifact.tar.gz -C app

      - name: Fill Out the .env File
        run: printf '%s' "${{ secrets.ENV_FILE }}" > app/.env

      - name: Fill Out the .env.local File
        run: printf '%s' "${{ secrets.ENV_LOCAL_FILE }}" > app/.env.local

      - name: Delete Previous Process Silently
        continue-on-error: true
        run: pm2 delete "${{ inputs.process-name }}"

      - name: Start a New Process
        run: cd app && PORT=${{ inputs.port }} pm2 start server.js --name "${{ inputs.process-name }}"

      - name: Save Current Process List
        run: pm2 save

      - name: Cleanup
        run: rm -f artifact.tar.gz
